*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

.container-nav{
    background-color: aqua;
    height: 70px;
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
}


.nav-ul{
    display: flex;
    justify-content: space-between;
    height: 70px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 15px;
}

.nav-span1{
    display: flex;
    justify-content: space-evenly;
}


.nav-ul ul{
    display: flex;
    flex-direction: row; 
}

.nav-ul li{
    list-style: none;
    margin-right: 40px;
}

a{
    color: black;
    text-decoration: none;
}


.nav-span{
    display: flex;
}

.container-header{
    background-color: brown;
    padding-top: 100px;
}

.header-main{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.header-main-box-title{
    color: black;
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 70px;
}

.header-main-box-main{
    display: flex;

    
}

.img-header-box-main{
    width:100%;
    height:100%;
    
}


.header-main-box-main .testo{
    width: 30%;
}

.header-main-box-main .img-header-box-main{
    width: 70%;
}

.BottoneH{
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 10px 23px;
    text-align: center;
}

.header-box-bottone{
    padding-top: 35px;
    padding-bottom: 35px;
}

.container-main-firts{
    display: flex;
    background-color: blueviolet;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-main-second{
    display: flex;
    background-color: red;
    height: 500px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-businessplan1{
    border: 1px solid black;
    width: 33%;
    margin-top: 30px;
}

.singolo{
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
    padding: 10px;   
}

li{
    list-style: none;
}

.container-businessplan1 ul{
    padding-top: 40px;
}

.container-businessp-ul li{
    padding-bottom: 20px;
}


.container-businessplan1 div{
    padding-bottom: 20px;
}




